footer{
    min-height: 100px;
    padding: 30px 10px;
}
@media (min-width:768px) {
    footer{
        padding: 50px;
    }
}
ul{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}
ul li a{
    color: var(--color-primary);
    text-decoration: none;
}
.footer_logo{
    border-radius: 50%;
}