.navbar{
    transition: background-color 0.5s ease;
}
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: var(--color-primary);
    font-weight: bold;
}
.nav-link{
    color:var(--color-primary);
}
.stateScroll{
    background-color: #000;
    transition: background-color 0.5s ease;
    box-shadow: rgba(17, 17, 26, 1.1) 0 0px 13px;
}
.navbar-toggler{
    border: none;
    box-shadow: none;
}
.logo{
    max-width: 60px;
}
