<section id="local" class="local section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 px-0">
                <div class="local-item local-item_1">
                    <div class="bg-item">
                        
                    </div>
                    <div class="bg-container-text">
                        <div class="text-center">
                            <h1>Ramos Mejia</h1>
                            <div>Güemes 98</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 px-0">
                <div class="local-item local-item_2">
                    <div class="bg-item">
                        
                    </div>
                    <div class="bg-container-text">
                        <div class="text-center">
                            <h1>Palermo</h1>
                            <div>Gorriti 3972</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 px-0">
                <div class="local-item local-item_3">
                    <div class="bg-item">
                        
                    </div>
                    <div class="bg-container-text">
                        <div class="text-center">
                            <h1>Lanús</h1>
                            <div>Gob. Lavallol 157</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
