.phrase {
    background-image: url(../../../assets/images/phrase/bg-phrase.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-phrase{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}
.phrase-text {
    font-family: "Rock Salt", cursive;
    font-size: 4.5rem;
    padding: 50px;
    text-align: center;
    position: relative;
    z-index: 10;
}