<section class="product">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="product-item">
                    <h1 class="product-item-title">
                        Menú
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="product-item">
                    <h1 class="product-item-title">
                        Bebidas
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="product-item">
                    <h1 class="product-item-title">
                        Desayunos
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
