/* You can add global styles to this file, and also import other style files */
/*section::before{
    content: "";
    width: 100%;
    height: 70px;
    display: block;
}*/
:root{
    --color-base:#000;
    --color-primary: #FFF;
    --color-secondary: #FFC52B;
}
body{
    background-color: var(--color-base) !important;
    color: var(--color-primary) !important;
}
.section-padding {
    padding: 60px 30px;
}
.section {
    height: 100vh;
}
.section-height{
    height: fit-content;
}
